
Sanghaefte.tex
titlefile.sbx
__pycache__/svglibbuild3.cpython-37.pyc
__pycache__/style_tex.cpython-37.pyc
__pycache__/preamble.cpython-37.pyc
__pycache__/auxiliary.cpython-37.pyc
Sanghaefte.pdf
Unflogo.pdf
Unflogo_1.svg
Sanghaefte.synctex.gz
